$section-margin: 25px;
$border-radius: 5px;

.word-heat {
  margin: $section-margin 0 10px 0;

  p {
    margin: 0;
  }

  .heat-word-list {
    align-items: flex-end;
    display: flex;
    flex-flow: row wrap;

    .heat-word {
      margin: 0 .4rem 1rem 0;
      text-align: center;
      transition: opacity .15s ease-in-out;
      border-radius: $border-radius;
      white-space: nowrap;
      padding: .2rem .5rem;
      color: white;
    }
  }
}