.train {
  .train-error {

    width: 500px;
    text-align: center;
    margin: auto;

    h2 {
      font-size: 32px;
    }

    i {
      font-size: 120px;
      margin: auto;
      color: #FF7900;
    }
  }
}