.model-tile {
  height: 750px;
  width: 50%;
  margin: 0 15px 0 15px;
  h4, p {
    margin: 5px 0;
  }

  .architecture-container {
    text-align: center;
  }

  .model-stats {
    margin-left: 50px;
  }
}