$anim-duration: .5s;
$button-height: 20px;
$button-padding: 15px;
$border-radius: 5px;
$border-width: 2px;
$context-option-spacing: 7px;
$input-bar-height: 56px;
$input-box-height: 250px;
$input-width: 700px;
$font-weight: 300;
$font-size: 16px;
$green-colour: #5fcf80;
$neutral-colour: grey;
$blue-colour: #2e86de;
$red-colour: #FF6666;

.general-button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: $button-height;
  padding: $button-padding;
  font-size: $font-size;
  border-radius: $border-radius;
  cursor: pointer;
  transition: border $anim-duration, box-shadow $anim-duration, background-color $anim-duration;

  &:hover {
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

.button {
  color: white;
  cursor: pointer;
  background-color: $neutral-colour;

  &:hover, &:focus {
    &.enabled {
      background-color: $green-colour;
    }

    background-color: $red-colour;
  }
}

.input-box, .input-bar {
  display: flex;
  width: $input-width;
  border: $border-width solid $neutral-colour;
  border-radius: $border-radius;

  input, textarea {
    width: 100%;
    font-weight: $font-weight;
    resize: none;
    border: none;
    border-radius: $border-radius;

    &:focus {
      outline: none;
    }
  }

  &.focused {
    border-color: $blue-colour;
  }

  &.invalid {
    border-color: $red-colour;
  }
}

.input-bar {
  height: $input-bar-height;
  background-color: rgba(0, 0, 0, 0.02);
  transition: .25s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  input {
    background-color: unset;
    font-size: 18px;
    width: 100%;
    padding: 6px 0 6px 16px;
  }

  svg {
    margin: 12px 0;
    padding-right: 10px;
    cursor: pointer;

    .icon-path {
      opacity: .3;
      transition: .5s;
      transform-origin: center;
    }

    &:hover {
      .icon-path {
        opacity: 1;
        transform: rotate(90deg);
        fill: $green-colour;
      }
    }
  }
}

.input-box {
  height: $input-box-height;
}
