::-webkit-scrollbar {
  width: 6px;
  border-radius: 25px;
  background-color: rgb(222, 222, 222);
}
::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 25px;
  background-color: rgb(222, 222, 222);
}

::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 25px;
}

$tweet-font-size: 16px;
$tweet-margin: 10px;
$tweet-adjusted-margin: 5px;
$tweet-container-height: 320px;
$tweet-icon-size: 52px;

.tweets-container {
  height: $tweet-container-height;
  overflow-y: scroll;

  .tweet-list {
    padding: 0;
    list-style: none;
    margin: 0;


    .tweet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      cursor: pointer;
      border-bottom: 2px solid gray;
      margin-right: 10px;

      transition: background-color 0.5s, border-bottom-color 0.5s;

      &:hover{
        background-color: rgba(222, 222, 222, 0.5);
        border-bottom: 2px solid black;
      }

      .icon-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        i {
          font-size: $tweet-icon-size;
        }
      }

      .content-container {
        .content-meta {
          font-size: $tweet-font-size;
          margin: $tweet-margin 0 $tweet-adjusted-margin $tweet-margin;
        }

        .content-text {
          font-size: $tweet-font-size;
          margin: 0 0 $tweet-margin $tweet-margin;
        }
      }
    }
  }
}